[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl
[submodule "libs/openssl"]
	path = libs/openssl
	url = https://github.com/openssl/openssl
